<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Signup  </div>
      <div class="card-body">

        <form (ngSubmit)="OnSubmit()" #LoginForm=ngForm>

          <div  class="alert alert-success" [hidden]="!success">{{success}}</div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control"name="password" id="exampleInputPassword1"
            [(ngModel)]=form.password required>
          </div>
          <div class="form-group">
            <label for="exampleInputPasswordConfirmation">Confirme Password</label>
            <input type="password" class="form-control"name="password_confirmation" id="exampleInputPasswordConfirmation"
            [(ngModel)]=form.password_confirmation required>
          </div>
          <div  class="alert alert-danger" [hidden]="!Error.password">{{Error.password}}</div>
          <div class="row">

          <button type="submit" class="btn btn-primary col-sm-2" [disabled]="!LoginForm.valid">
            signup</button>
            <a class="btn btn-primary col-2 offset-8" routerLink="../" >Home</a>
          </div>

        </form>
      </div>

  </div>
</div>
